version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: queue-postgres
    ports:
      - "3000:3000"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: queue_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: i-01a9c0fa6d8756595/backend:latest
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - .env

  frontend:
    image: i-01a9c0fa6d8756595/frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  pgdata:
